
body {
  padding-top: 70px;
  font-family: "Segoe UI", sans-serif;
}

/* Hero Section */
.hero-section {
  height: 90vh;
  background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
    url("https://images.unsplash.com/photo-1523240795612-9a054b0db644");
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  align-items: center;
}
/*  Services Section */
.service-card {
  background: white;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.05);
  transition: 0.3s ease;
}

.service-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 15px 30px rgba(0,0,0,0.1);
}

.service-card h5 {
  font-weight: 600;
  margin-bottom: 10px;
}

.service-card p {
  color: #555;
  font-size: 15px;
}

.icon {
  font-size: 40px;
}

/* Common Section */
.section {
  padding: 60px 0;
}

/* Contact */
.contact-section {
  padding: 80px 0;
  background-color: #f8f9fa;
}
/* About */
.about-section {
  padding: 80px 0;
  background-color: #f8f9fa;
}

/* Footer */
.footer {
  background-color: #212529;
  padding: 15px 0;
  margin-top: auto;
}