body {
  padding-top: 70px;
  font-family: "Segoe UI", sans-serif;
}

/* Hero Section */
.hero-section {
  height: 90vh;
  background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
    url("https://images.unsplash.com/photo-1523240795612-9a054b0db644");
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  align-items: center;
}

/* Common Section */
.section {
  padding: 60px 0;
}

/* Contact */
.contact-section {
  padding: 80px 0;
  background-color: #f8f9fa;
}

/* Footer */
.footer {
  padding: 15px 0;
}
